* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #548687;
    text-align: center;
}

h1 {
    font-size: 5vmin;
    color: #f3f3f3;
    margin: 1vmin;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    background-color: #f2f2f2;
}

#reset_btn {
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
    font-size: 2vmin;
    color: #b0413e;
    margin: 1vmin;
}

#new-btn {
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
    font-size: 2vmin;
    color: #b0413e;
    margin: 1vmin;
}

#msg {
    font-size: 8vmin;
    /* color: #f3f3f3; */
    margin: 1vmin;

}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5vmin;
}

.hide {
    display: none;
}

.playerO {
    color: blue;
    /* Change to the color you want for player O */
}

.playerX {
    color: red;
    /* Change to the color you want for player X */
}

@keyframes celebration {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.winner {
    animation: celebration 1s infinite;
    color: green;
}

.draw {
    font-size: 8vmin;
    margin: 1vmin;
    animation: celebration 1s infinite;
    color: orange;
}